{% extends "layout.html" %}
{% block content %}
    <main class="container">
        <!-- The editable system prompt -->
        <h4 style="margin-bottom: 0px">System prompt</h4>
            <div id="prompt" contenteditable="true">{{ systemPrompt }}</div>
        <br>
        <div id="conversation">
        </div>
        <form style="margin-bottom: 10px" onsubmit="window.handleSubmit(event)">
            <label>
                <textarea rows="5" name="userPrompt"></textarea>
            </label>
            <input type="submit" id="chat-submit">
        </form>
    </main>


    <style>
        .userMsg {
            background-color: var(--form-element-border-color);
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
            width: 50%;
            float: right;
        }
        .gptResponse {
            background-color: var(--form-element-border-color);
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
            width: 50%;
            float: left;
        }
    </style>

{% endblock %}
