{% extends "layout.html" %}
{% block content %}
    <main class="container">
    <h1>Welcome to Max's epic youtube downloader</h1>

    <form action="{{ url_for('video') }}" method='post'>
        <input type="text" placeholder="Enter URL here" name="url">
        <input type="submit" placeholder="Hehe">
    </form>



    {% if videoInfo != None %}
        <section>
            <img style="border-radius: 5px" src="{{ videoInfo['thumbnail'] }}" alt="video thumbnail">
        </section>
        <section>
            <form class="grid" method="post" action="{{ url_for("waiting", dlid=videoInfo['dlid']) }}">
                <button name="Type" value="A" class="secondary">Audio Only</button>
                <button name="Type" value="B">Audio Video</button>
            </form>
        </section>
    {% endif %}

    {% if download != None %}
        <!-- Set up a link to download the file and then click it with JS -->
        <!-- This seems like it shouldn't be possible but JS never fails to disappoint -->
        <a href="/{{ config["DOWNLOAD_DIR"] }}/{{ download }}" download id="download" hidden></a>
        <script>
            document.getElementById("download").click();
        </script>
    {% endif %}

    </main>
{% endblock %}